<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppQuanLy"
        tools:targetApi="31">
        <activity
            android:name=".Dang_Xuat.view.Dang_XuatActivity"
            android:exported="false" />
        <activity
            android:name=".Dat_Mat_Khau.view.Dat_Mat_KhauActivity"
            android:exported="false" />
        <activity
            android:name=".Thong_Tin_San_Pham.view.Thong_Tin_San_PhamActivity"
            android:exported="false" />
        <activity
            android:name=".Gop_Y_Voi_Nha_Phat_Trien.view.Gop_Y_Voi_Nha_Phat_TrienActivity"
            android:exported="false" />
        <activity
            android:name=".Danh_Gia_Ung_Dung.view.Danh_Gia_Ung_DungActivity"
            android:exported="false" />
        <activity
            android:name=".Gioi_Thieu_Cho_Ban_Hang.view.Gioi_Thieu_Cho_BanActivity"
            android:exported="false" />
        <activity
            android:name=".Thong_Bao.view.Thong_BaoActivity"
            android:exported="false" />
        <activity
            android:name=".Lien_Ket_Tai_Khoan.view.Lien_Ket_Tai_KhoanActivity"
            android:exported="false" />
        <activity
            android:name=".Thiet_Lap.view.Thiet_LapActivity"
            android:exported="false" />
        <activity
            android:name=".Dong_Bo_Du_Lieu.view.Dong_Bo_Giu_LieuActivity"
            android:exported="false" />
        <activity
            android:name=".Bao_Cao.view.Bao_CaoActivity"
            android:exported="false" />
        <activity
            android:name=".ThucDon.view.ThucDonActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login Activity -->
        <activity
            android:name=".login.view.LoginActivity"
            android:exported="true" /> <!-- Register Activity -->
        <activity
            android:name=".register.view.RegisterActivity"
            android:exported="true" />
        <activity android:name=".LoginPhoneandEmail.view.LoginWithPhoneEmailActivity" />
        <activity android:name=".ForgotPassword.view.ForgotPasswordActivity" />
        <activity android:name=".banhang.view.SelectDishActivity">

            <!-- Các thông tin cấu hình khác của Activity nếu cần -->
        </activity>
        <activity android:name=".banhang.view.BanHangActivity" />
    </application>

</manifest>