<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logocuckcuk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logocuckcuk"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppQuanLy"
        tools:targetApi="31">
        <activity
            android:name=".SalePutIn.SaleeActivity"
            android:exported="false" />
        <activity
            android:name=".CashRegiter.CashRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HoaDon.HoaDonActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseDish.view.ChooseDishActivity"
            android:exported="false" />
        <activity
            android:name=".UnitOfMeasure.DonViTinhActivity"
            android:exported="false" />
        <activity
            android:name=".AddProduct.Them_San_PhamActivity"
            android:exported="false" />
        <activity
            android:name=".Establish.ThietLapActivity"
            android:exported="false" />
        <activity
            android:name=".Sunchroize.Dong_BoActivity"
            android:exported="false" />
        <activity
            android:name=".fragment_sync_data"
            android:exported="false" />
        <activity
            android:name=".AddDish.ThemMonActivity"
            android:exported="false" />
        <activity
            android:name=".LogOut.Dang_XuatActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePassWord.Dat_Mat_KhauActivity"
            android:exported="false" />
        <activity
            android:name=".ProductInformation.Thong_Tin_San_PhamActivity"
            android:exported="false" />
        <activity
            android:name=".Comments.Gop_Y_Voi_Nha_Phat_TrienActivity"
            android:exported="false" />
        <activity
            android:name=".Evaluate.Danh_Gia_Ung_DungActivity"
            android:exported="false" />
        <activity
            android:name=".IntroduceYourself.Gioi_Thieu_Cho_BanActivity"
            android:exported="false" />
        <activity
            android:name=".Notification.Thong_BaoActivity"
            android:exported="false" />
        <activity
            android:name=".LinkAccount.Lien_Ket_Tai_KhoanActivity"
            android:exported="false" />
        <activity
            android:name=".Report.Bao_CaoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login Activity -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" /> <!-- Register Activity -->
        <activity
            android:name=".register.RegisterActivity"
            android:exported="true" />
        <activity android:name=".LoginPhoneandEmail.LoginWithPhoneEmailActivity" />
        <activity android:name=".ForgotPassword.ForgotPasswordActivity" />
        <activity android:name=".SelectDishActivity.SelectDishActivity">

            <!-- Các thông tin cấu hình khác của Activity nếu cần -->
        </activity>
        <activity android:name=".Sale.BanHangActivity" />
    </application>

</manifest>